<h1>Choix de services</h1>
<ul>
  {{#each model.services as |service|}}
    <li class="{{if service.active 'active' ''}}">
      {{service.name}} <span>{{service.price}}</span>
    </li>
  {{/each}}
</ul>
{{outlet}}